.body{
    background-image: url(https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-de-papel-de-espaco-de-design_53876-147806.jpg?size=626&ext=jpg&ga=GA1.2.1409163287.1661796490);
}
.carrossel{
    width: 750px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 180px;
    margin-left: 400px;
    border: 5px;
    border-color: blueviolet;

}

.carrossel .fotos{
    width: 1100%;
    animation: animacao 35s infinite;
}

.carrossel .fotos img{
    width: 746px;
    height: 400px;
}

@keyframes animacao{
    0%{margin-left: 0;}
    5%{margin-left: 0;}
   10%{margin-left: -100%;}
   15%{margin-left: -100%;}
   20%{margin-left: -200%;}
   25%{margin-left: -200%;}
   30%{margin-left: -300%;}
   35%{margin-left: -300%}
   40%{margin-left: -400%}
   45%{margin-left: -400%}
   50%{margin-left: -500%}
   55%{margin-left: -500%}
   60%{margin-left: -600%}
   65%{margin-left: -600%}
   70%{margin-left: -700%}
   75%{margin-left: -700%}
   80%{margin-left: -800%}
   85%{margin-left: -800%}
   90%{margin-left: -900%}
   95%{margin-left: -900%}     
   100%{margin-left: -1000%;}

}
.a{
    width: 740px;
    height: 360px;
}