.body{
    align-self: center;
    background-color: #00003683;
}

.carrossel{
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 500%;
    animation: animacao 20s infinite;
}

.carrossel .fotos img{
    width: 19.9%;
}

@keyframes animacao{
          0%{margin-left: 0%;}
          9%{margin-left: 0%;}
      18%{margin-left: -100%;}
      27%{margin-left: -100%;}
      36%{margin-left: -200%;}
      45%{margin-left: -200%;}
      54%{margin-left: -300%;}
      63%{margin-left: -300%;}
      72%{margin-left: -400%;} 
      81%{margin-left: -400%;}  
      90%{margin-left: -500%;}  
      99%{margin-left: -500%;}
}